<div id="data-grid-details">
  <dx-data-grid id="gridContainer"  [dataSource]="itens" keyExpr="id" [showBorders]="true">
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="form"></dxo-editing>

    <dxi-column dataField="id" caption="ID" [width]="50"></dxi-column>
    <dxi-column dataField="sequencial"></dxi-column>
    <dxi-column dataField="produto.descricao" caption="Produto"></dxi-column>
    <dxi-column dataField="produto.valorUnitario" caption="Valor" format="R$ #,##0.00"></dxi-column>
    <dxi-column dataField="quantidade"></dxi-column>
    <dxi-column dataField="valorTotalItem" caption="Total" format="R$ #,##0.00"> </dxi-column>
  </dx-data-grid>
</div>
