<dx-data-grid id="gridContainerNota"
              [dataSource]="notas"
              keyExpr="id"
              [showBorders]="true"
              (onRowInserting)="adicionarNota($event)"
              (onEditingStart)="carregarItens($event)"
              (onRowUpdated)="mostrar($event)">


  <dxo-editing mode="popup"
               [allowAdding]="true"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [confirmDelete]="true">

    <dxo-popup title="Cadastro Nota" [showTitle]="true"  [width]="700" [height]="500"></dxo-popup>

    <dxo-form [colCount]="2">
      <dxi-item dataField="cliente"></dxi-item>
      <dxi-item dataField="dataEmissao" caption="Emissão" ></dxi-item>
      <dxi-item itemType="group" [colSpan]="2" >
        <dxi-item dataField="itens" template="gridItensTemplate"></dxi-item>
      </dxi-item>
      <div *dxTemplate="let data of 'gridItensTemplate'">
        <dx-data-grid id="gridContainerItem"
                      [dataSource]="data.value"
                      keyExpr="id"
                      [showBorders]="true"
                      (onRowInserting)="adicionarNota($event)"
                      >
          <dxo-editing  mode="row" [allowAdding]="true" [allowDeleting]="true"> </dxo-editing>
          <dxi-column dataField="sequencial" ></dxi-column>
          <dxi-column dataField="produto" caption="Produto" cellTemplate="produtoCellTemplate" editCellTemplate="produtoEditCellTemplate"></dxi-column>
          <dxi-column dataField="quantidade"> </dxi-column>
          <dxi-column dataField="valorTotalItem"> </dxi-column>

          <div *dxTemplate="let data of 'produtoCellTemplate'">{{data.data.value ? data.value.descricao : "não tem"}}</div>
          <div *dxTemplate="let data of 'produtoEditCellTemplate'">
            <dx-select-box [items]="produtos"
                           displayExpr="descricao"
                           [(value)]="data.data.value" >
            </dx-select-box>
          </div>


        </dx-data-grid>
      </div>
    </dxo-form >

  </dxo-editing>

  <dxi-column dataField="id" [width]="70" caption="NF" sortOrder="asc" > </dxi-column><
  <dxi-column dataField="cliente" caption="Cliente" cellTemplate="clienteCellTemplate" editCellTemplate="editClienteCellTemplate"></dxi-column>
  <dxi-column dataField="dataEmissao" dataType="date" format="dd/MM/yyyy"></dxi-column>
  <dxi-column dataField="valorTotal" caption="Valor" format="R$ #,##0.00"></dxi-column>
  <dxi-column dataField="itens" [visible]="false" ></dxi-column>

  <div *dxTemplate="let data of 'clienteCellTemplate'" > {{ data.value  ? data.value.nome : ""}}</div>
  <div *dxTemplate="let data of 'editClienteCellTemplate'" >
    <dx-select-box  [dataSource]="clientes" displayExpr="nome" [(value)]="data.data.cliente" (click)="mostrar(data.data.cliente)">

    </dx-select-box>
  </div>
</dx-data-grid>
